.btn {
    display: inline-block;
    text-decoration: none;
    border: 0;
    font-size: 1rem;
    letter-spacing: 0.86px;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    transition: 0.2s all ease;

    @media (min-width: $screen-md-min) {
        font-size: 1.14rem;
        letter-spacing: 0.98px;
        padding: 22px 30px 17px 30px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-xl-max) {
        padding: 1.3em 1.8em;
    }

    &:hover {
        text-decoration: none;
    }

    &-primary {
        color: #fff;
        border-top: 1px solid $btn-primary-color;
        background-color: $btn-primary-color;
        background-size: 100% 200%;

        @media (min-width: $screen-md-min) {
            color: $btn-primary-color;
            background-color: transparent;
            background-image: linear-gradient(to bottom, $btn-primary-color 0%, $btn-primary-color 50%, transparent 50%, transparent 100%);
            background-position: 0 -100%;
        }

        &:hover {
            color: #fff;
            background-position: 0 -200%;
        }
    }
}