/*
--------------------------------------------------
Body, Html and other base styles
--------------------------------------------------
*/

html {
  font-size: $base-font-size;

  @media (min-width: $screen-md-min) and (max-width: $screen-xl-max) {
    font-size: 0.9vw;
  }
}

body {
  font-family: $base-font-family;
  color: $base-font-color;
  line-height: $base-line-height;
  background-color: #fff;
  font-weight: 500;
  min-width: 320px;

  overflow-x: hidden;
  @media (min-width: $screen-md-min) {
    overflow-x: visible;
  }
}

a {
  @include link-main;
}