//Font
$base-font-family: 'Futura PT', sans-serif;
$base-font-size: 14px;
$base-font-weight: 500;
$base-line-height: 1.6;
$base-font-color: #4c4c4c;
$secondary-font-color: #888;

//Sizes
$site-max-width: 1650px;
$screen-xs-min: 480px;
$screen-sm-min: 758px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1430px;

//Colors
$btn-color: #5672ab;
$title-color-main: #c7486b;
$title-color-secondary: #7bbd58;
