.promo {
    padding: 55px 0;
    max-width: 345px;
    width: auto;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: $screen-md-min) {
        max-width: 100%;
        text-align: left;
    }


    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media screen and (min-width: $screen-md-min) {
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }

    &__col {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
        position: relative;
        z-index: 2;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: $screen-md-min) {
            flex-wrap: nowrap;
            flex-direction: row;
            width: 71.1%;
            align-items: center;
            justify-content: space-between;

            &--left {
                width: 100%;
                margin-right: -34.4%;
            }
        }

        &--left {
            z-index: 2;
        }

        &--right {
            z-index: 1;

            @media screen and (min-width: $screen-md-min) {
                text-align: right;
            }
        }
    }

    &__text {
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        max-width: 90%;
        margin: auto;

        @media screen and (min-width: $screen-md-min) {
            width: 330px;
            max-width: 50%;
            margin: 0;
        }
    }

    &__image-wrap {
        display: block;
        max-height: 100vh;
        order: -1;
        margin-bottom: -22.9%;

        @media screen and (min-width: $screen-md-min) {
            order: 0;
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $screen-md-min) {

        &__col--left &__image-wrap {
            transform: translate(-16.3%, 3.7%);
        }
        &__col--right &__image-wrap {
            order: -1;
            transform: translate(-4.1%, 16.6%);
            margin: 0;
        }
    }

    &__col--right &__image {
        transform: translateX(-4.3%) scale(0.85);
        margin: 8px 0 -12%;

        @media screen and (min-width: $screen-md-min) {
            transform: none;
            margin: 0;
        }
    }

    &__image {
        display: block;
        max-width: 100%;
        transition: 0.2s all ease;
        transform-origin: top center;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);

        @media screen and (min-width: $screen-md-min) {
            &.focused {
                transform: translateZ(0) scale(1.01);
            }

            &.blured {
                filter: blur(2px);
            }
        }
    }

    &__btn {
        display: inline-flex;
        align-items: center;

        &-icon {
            display: block;
            color: inherit;
            margin-left: 25px;
            margin-top: 2px;
            width: 6px;
            height: 11px;
            @media screen and (min-width: $screen-md-min) {
                width: 7px;
                height: 13px;
            }

            svg {
                display: block;
                max-width: 100%;
                fill: currentColor;
                color: currentColor;
            }
        }
    }

    &__title {
        color: $title-color-main;
        line-height: 1.22;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2.57rem;
        letter-spacing:1.06px;
        margin-bottom: 0.2em;

        @media screen and (min-width: $screen-md-min){
            font-size: 3.14rem;
            letter-spacing: 1.29px;
            margin-bottom: 0.5em;
        }
    }

    &__col--right &__title {
        color: $title-color-secondary;
    }

    &__sub-title {
        font-size: 1.285rem;
        letter-spacing:0.68px;
        line-height:1.55;
        margin-bottom: 1.5em;

        @media screen and (min-width: $screen-md-min){
            font-size: 1.428rem;
            letter-spacing: 0.75px;
            line-height: 1.63;
            margin-bottom: 2em;
            min-height: 3.25em;
        }
    }
}