@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Demi.eot');
  src: url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
  url('../fonts/FuturaPT-Demi.woff') format('woff'),
  url('../fonts/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Heavy.eot');
  src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Heavy.woff2') format('woff2'),
  url('../fonts/FuturaPT-Heavy.woff') format('woff'),
  url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

